 .T {
        text-align: center;    
        background-color: beige;    

      }

.T2  {
    text-align: center;    
    background-color:greenyellow ;    

  }

.T3 {
    background-color: orange;

}

.T5 {
    background-color: orange;

}

.T6 {
    text-align: center;    
    background-color: blue;    

  }

.T62 {
    color: burlywood;
    background-color: yellow;

}